.demoContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;
}

.demoBox {
  height: 600px;
  width: 60%;
  background-color: black;
}

.demoBox canvas {
  position: absolute;
}

.codeBlock {
  margin: 0;
  margin-left: 20px;
  max-height: 600px;
  width: 40%;
  overflow-y: auto;
}

.demoContainer h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  margin: 50px;
}

.wrapper {
  justify-content: start;
}
