.container {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  max-width: 400px;
  min-width: 200px;
  margin-right: 10px;
  vertical-align: top;

  background-color: var(--card-background-color);
}

.container p {
  display: inline-block;
  max-width: 80%;
  margin: 0;
}
